/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Nanum+Myeongjo&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:wght@300&display=swap');

/* Styles */
@import "./stylesCSS/nav-bar.css";

@import "./stylesCSS/banner.css";

@import "./stylesCSS/main-content.css";

@import "./stylesCSS/sidebar.css";
 
@import "./stylesCSS/footer.css";

@media (max-width: 1500px) {
    .cardSection {
        padding-right: 9vh;
        padding-left: 2vh;
    }
}
@media (max-width: 1184px) {
    .banner {
        padding: 14px;
    }
    .banner-image {
        position: relative;
        width: 12.5vh;
        left: 150px;
    }
    .banner-image1 {
        position: relative;
        top: -0.5vh;
        width: 34vh;
    }
}
@media (max-width: 1183px) {
    .banner {
        padding: 14px;
    }
    .banner-image {
        position: relative;
        width: 12.5vh;
        left: 150px;
    }
    .banner-image1 {
        position: relative;
        top: -0.5vh;
        width: 34vh;;
    }
}
@media (max-width: 1161px) {
    .banner {
        padding: 10px;
    }
    .banner-title {
        position: relative;
    }
    .banner-image {
        position: relative;
        width: 12.5vh;
        left: 150px;
    }
    .banner-image1 {
        position: relative;
        top: -0.5vh;
        width: 34vh;;
    }
}
