@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:wght@300&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#top {
    background: url("../imgs/Leaves.png") repeat fixed 1vh;
    background-size: 50%;
    background-position: 20vh 64vh;
}
.banner {
    box-shadow: inset 0vh 0.1vh 1vh black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
}
.banner-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 21vh;
}
.banner-title h1 {
    color: black;
    text-shadow: 0vh 0vh 0.4vh black;
}
.banner-title h2 {
    color: yellowgreen;
    text-shadow: 0vh 0vh 0.4vh black;
}
.banner-image{
    position: relative;
    top: -0.4vh;
    left: 150px;
    width: 15vh;
}
.banner-image1{
    width: 35vh;
}
