* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header {
    background-color: #85FFBD;
    background-image: linear-gradient(101deg, #a6ffd0 50%, #FFFB7D 100%);     
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 60px;
    gap: 8px 15px;
}
.logo-lordOfRings {
    width: 250px;
}
.logo-middleEarth {
    font-family: 'ABeeZee', sans-serif;
    display: inline-block;
    color: darkgreen;
    font-size: 30px;
}
#menu-header ul li {
    display: inline;
}
#menu-header ul li a{
    font-family: 'ABeeZee', sans-serif;
    font-size: 24px;
    color: black;
    padding: 0px 35px;
    display: inline-block;
    text-decoration: none;
    transition: .2s;
}
#menu-header ul li a:hover {
    text-decoration: underline yellowgreen;
    text-decoration-thickness: 5px;
    text-underline-offset: 20px;
}